<div class="mt-4">
    <div class="row">

        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card_course_item" >
                <a class="text-decoration-none" href="/courses/{{this.slug}}">
                    <img class="card-img-top overlay" src="{{this.linkImage}}" alt="{{this.name}}">
                    <span class="overlay-text">Xem khóa học</span>
                </a>

                <div class="card-body">
                    <a class="text-decoration-none" href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Buy course</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>