<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>khóa học đã xóa</h3>
  </div>
  <table class="table mt-4">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tên khóa học</th>
              <th scope="col">Trình độ</th>
              <th scope="col" colspan="2">Thời gian xóa</th>
          </tr>
      </thead>
      <tbody>
          {{#each courses}}
          <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.level}}</td>
              <td>{{this.deletedAt}}</td>
              <td>
                  <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                  <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete_course_model" data-id="{{this._id}}">Xóa vĩnh viễn</a>
              </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center" >
              Thùng rác trống.
              <a href="/me/stored/courses">Danh sách các khóa học</a>
            </td>
          </tr>
          {{/each}}
      </tbody>
  </table>
</div>

{{!-- confirm delete course--}}

<div class="modal" id="delete_course_model" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục, bạn có chắc chắn xóa?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    /*element.addEventListener('type':clik,()=>{}: ham de xu ly khi su kien click dien ra,options: it dung)*/
    document.addEventListener('DOMContentLoaded',function(){
            var courseId;
            var deleteForm = document.forms['delete-course-form'];
            var restoreForm = document.forms['restore-course-form'];
            var btnDeleteCourse = document.getElementById('btn-delete-course');
            var restoreBtn = $('.btn-restore');

            // when dialog confirm clicked
            $('#delete_course_model').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                courseId = button.data('id'); // Extract info from data-* attributes
            })
            // when delete course btn clicked
            btnDeleteCourse.onclick = function() {
                deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
                deleteForm.submit();
            }

            restoreBtn.click(function(e){
              e.preventDefault();
              var courseId = $(this).data('id');
              restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
              restoreForm.submit();
            })
    });
</script>